<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div>
    <label>Title</label>
    <br/>
    <%= f.text_field :title, style: "width: 300px" %>
  </div>
  <div>
    <label>Text</label>
    <br/>
    <%= f.text_area :content, style: "width: 300px; height: 150px;" %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
